:root{
  --stagger: 190px; 
  --gap: 50px;
}


.introBack{
  background-color: white;
  width: 100%;
  top: 0px;
  height: 300px;
}

.intro h1{
  position: absolute;
  font-size: 52px;
  z-index: 5;
  left: unset;
  font-family: font02;
  letter-spacing: 10px;
  top: 110px;
  right: 40px;
}

.intro h5{
  color: black;
  top: 210px;
}

.intro h6{
  top: 250px;
}


.baseLeft{
  margin-top: -190px;
  z-index: 0;         
  position: relative;
}


.baseLeft{
  margin-bottom: var(--gap);
}

.mainImgContainer{
  height: 850px;
  overflow: hidden;
}

.mainImg{
  width: 100vw;
  margin-top: 0px;
}

.bottomImg{
  width: calc(100vw - 110px);
  position: absolute;
  z-index: -10;
  bottom: -180px;
}

.imgContain{
  position: absolute;
  height: 40vw;
  margin-top: -350px;
  overflow: hidden;
  width: calc(100% - 100px);
  left: 50px;
}


.baseline2{
  margin-bottom: calc(50px + var(--stagger));
}
